body {

text-align: center;
background-image: url("http://2.bp.blogspot.com/-xJaJPnveXag/TguyzbeR08I/AAAAAAAAIlY/CD8eMqc0M_I/s1600/bg.jpg");
background-size: cover;
}
h4 {color: #663366;
}
h1 {
font-family: "helvetica";}